body{
    margin: 0px;
    background-color:  #F3F3F1;
}
.centro{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /* display flex */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* centraliza na vertical */
    align-items: center;
    /* centraliza na horizontal */
    justify-content: center;
}
.login{
	width: 750px;
	height: 400px;
    background-color:#60191A;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.input{
    width: 350px;
    height: 35px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.submit{
	width: 350px;
	height: 35px;
	border-color: #EDEDED;
	border: none;
	background-color: #EDEDED;
	font-size: 15px;
	margin-top: 25px;
}
.submit:hover{ 
	cursor: pointer;
}